:root {
    --cores-header-footer: #ff004d;
    --cor-pages: rgb(255, 255, 255);
    --cor-fieldset: #f1dee1;
    --cor-button-submit: #f1e7ec;
}

#pages a { 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
#pages a:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.0);
}

fieldset {
    background-color: #f1dee1;
    padding: 20px;
    margin: 20px auto;
}

legend {
    font-size: large;
}

label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}

button[type="submit"] {
    background-color: #f1e7ec; 
    border-radius: 5px;
}

.endereco {
    font-size: 20px;
}


.maps {
    margin-left: auto; 
    margin-right: auto; 
}

.localizacao {
    margin-left: auto;  
}

@media (max-width: 768px) {
    #pages a {
        font-size: 1rem; 
        padding: 10px; 
        display: block; 
        text-align: center; 
    }

    .maps,
    .localizacao {
        margin-left: 0; 
        text-align: center; 
        width: auto; 
        display: block; 
        padding-top: 10px; 
    }

    fieldset {
        padding: 15px; 
        margin-left: 10px; 
        margin-right: 10px;
    }
}