@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


.libre-franklin-uniquifier {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #e4e6d3;
        font-family: "DM Serif Text", sans-serif;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    

header{
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: #ff004d;
    color: #000000;
    align-items: center;
    padding: 20px;
}

#images {
    height: 150px;
    width: 150px;
    border-radius: 200px;
    align-items: center;
}

#pages {
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}

#pages a { 
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        border-bottom: 3px solid transparent;
        border-radius: 6px;
        transition: 0.3s ease-in-out;
    
}
#pages a:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.0);
}


h1 {
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    padding: 20px;
}

h5 {
    color: #000000;
    font-size: 16px;
    text-align: justify;

}

.sobre-container {
    max-width: 500px;
    margin: 1000px auto;
    border-radius: 10px;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    padding: 930px;
}

footer{
    background-color: #ff004d;
    text-align: center;
    padding: 1px;
    margin-top: auto; 
}
footer a{
    text-decoration: none;
    color: #333;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 5550px;
    margin: 40px auto;
    padding: 0 200px;
}

.article {
    margin: 50px;
    background-color: #000000;
    padding: 40px;
    border-radius: 50px;
    height: auto;
    box-shadow: 0 2px 4px rgb(46, 45, 43);
}

.article-header {
    border-bottom: 2px solid #cecaca;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
} 

.pizza {
    font-size: 1.2rem;
    text-align: end;
    margin-right: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.figure-section {
    background-color: rgb(255, 255, 255);
    margin: 50px;
    border-radius: 50px;
    height: auto;
    box-shadow: 0 2px 4px rgb(46, 45, 43);
    align-items: center;
    text-align: center;
    display: flex;
    
}

.local-figure {
    width: 50%;
    border-radius: 50px;
    margin: 40px;
}

.history-section {
    flex-direction: row;
    margin-left: 100px;
}

.title-section {
    height: 350px;
    margin-left: 1500px;  
    margin-top: -400px;
}

.text-section {
    text-align: justify;
    display: flex;
    height: 350px;
    margin-left: 1500px;  
    margin-top: -400px;
}

.title {
    align-items: flex-start;
}

.text-intoduction {
    margin: 40px;
    text-align: justify;
}

p {
    font-size: 20px ;
}