.pizza,
.bebida {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.pizza,
.bebida {
    background-color: #fff;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 15px;
    margin: 10px;
}


.pizza img,
.bebida img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
